* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

:root {
    --color0: #ffffff;
    --color1: #cdfecd;
    --color2: #9cfc9c;
    --color3: #51fb51;
    --color4: #05c705;
    --color5: #037c03;
    --solid-border: 2px solid black;
    --dashed-border: 2px dashed black;
}

body {
    background-color: #dff;
}

table {
    margin: 100px auto;
    border-collapse: collapse;
    width: 32rem;
    table-layout: fixed;
}

tr {
    height: 1.1rem;
}

tr td {
    border-right: var(--solid-border);
    border-left: var(--solid-border);
}
.available-0 { background-color: var(--color0);}

.available-1 { background-color: var(--color1);}

.available-2 { background-color: var(--color2);}

.available-3 { background-color: var(--color3);}

.available-4 { background-color: var(--color4);}

.available-5 { background-color: var(--color5);}

.sharp td {
    border-bottom: var(--solid-border);
}

.half td {
    border-top: var(--solid-border);
    border-bottom: var(--dashed-border);
}

.time {
    text-align: right;
    padding: 0 0.6rem 0 0;
}

#legend {
    margin: auto;
    width: 180px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#legend-line {
    width: 100%;
    height: 30px;
    margin: 0 0 0 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#legend-gradient {
    width: 60%;
    height: 20px;
    border: var(--solid-border);
    background-image: linear-gradient(90deg, var(--color0) 0% 16.7%, var(--color1) 16.7% 33.4%, var(--color2) 33.4% 50%, var(--color3) 50% 66.7%, var(--color4) 66.7% 83.4%, var(--color5) 83.4% 100%);
}